body {
    background-color: #90BEDE;
    font-family: Muli, sans-serif;
    font-weight: bold;
    color: #779CB7;
    margin-top: 30px;
  }
  
  h1 {
    text-align: center;
    font-size: 60px;
    color: #477998;
  }
  h2{
      text-align: center;
      font-size: 30px;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  a {
    text-decoration: none;
  }
  
  #container {
    text-align: center;
    margin: 0 auto;
    width: 420px;
    height: 420px;
    position: relative;
  }
  
  #board {
    position: absolute;
    width: 420px;
    height: 420px;
    border-collapse: collapse;
    border: 11px solid #90BEDE;
  }
  tr :hover{
    background-color: #87ccd8;
}
  
  td {
    border: 10px solid #779CB7;
    width: 120px;
    height: 120px;
    cursor: pointer;
    font-size: 70px;
    color: #F3E8EE;
    font-weight: bold;
    text-align: center;
  }
  
  .message {
      font-size: 30px;
    text-align: center;
    height: 50px;
    color: #FF5E5B;
}
.ag{
    color: #FF5E5B;
    font-size: 40px;
}
.restart {
    width: 240px;
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}








/*
body{
    background-color: #173e43;


}
#main {
    
    width: 500px;
    font-family: sans-serif;
    margin-left: 450px;
}
#main h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    margin-top: 70px; 
    color: #fff;
}
#main h1 , #main td {
    text-align: center;
    vertical-align: middle;
}
#main a{
    color: #fff;
    text-decoration: none;
    
}
#main table {
    margin:  0 auto;
    border-collapse: collapse;
    background-color: #3fb0ac;
    color: #FF0000;
    font-size: 30px;
    
}
#main tr :hover{
    background-color: #fae596;
}

#main td {
    width: 210px;
    height: 150px;
    font-size: 150%;
    border: 10px solid #000;
}
#main .message {
    text-align: center;
    height: 50px;
    color: #fff;
}
#main .restart {
    width: 240px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;

}
*/


